@import "./variables";
@import "./mixins";

.container {
  @include onLargeDesktop {
    width: $container-max-width-large-desktop;
  }

  @include onDesktop {
    max-width: $container-max-width-desktop;
    width: 100%;
  }

  @include onLaptop {
    width: $container-max-width-laptop;
    align-content: center;
  }

  @include onTablet {
    width: calc(100% - #{$container-padding-tablet * 2});
  }

  @include onMobile {
    width: calc(100% - #{$container-padding-mobile * 2});
  }

  @include onTinyMobile {
    max-width: calc(100% - #{$container-padding-mobile * 2});
  }
}
