@import "../../utils/utils";

.prefooter {
  position: relative;

  height: 70vh;
  min-height: 900px;
  width: 100vw;
  font-size: 48px;
  overflow: hidden;

  @include onDesktop {
    height: 706px;
    min-height: auto;
  }

  @media (max-width: 1200px) {
    height: 606px;
  }

  @include onTablet {
    height: 526px;
  }

  @include onMobile {
    font-size: 42px;

    margin-top: 350px;
    overflow: visible;
  }

  @include onTinyMobile {
    margin-top: 0;
  }

  &_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;

    object-fit: cover;
    object-position: center;

    @include onLaptop {
      height: auto;
      top: auto;
      bottom: 0;
    }

    @include onMobile {
      object-position: bottom;
      height: 100vw;
    }
  }

  &_fixer {
    display: flex;
    justify-content: end;
  }

  &_text-section {
    width: 60%;
    display: flex;
    flex-direction: column;
    z-index: 1;

    @include onDesktop {
      margin-top: 40px;
    }

    @include onLaptop {
      margin-top: 0;
    }

    @include onTablet {
      width: 70%;
    }

    @include onMobile {
      width: 100%;
      align-items: start;
      justify-content: start;
      position: relative;
      top: -350px;
    }

    @include onTinyMobile {
      align-items: center;
      top: 0;
    }

    & h2 {
      @include onTinyMobile {
        text-align: center;
      }
      & span {
        background: -webkit-linear-gradient(0deg, #9e63ff 0%, #ff2da0 100%);
        font-weight: 600;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  &_text {
    @extend %regular-font-style;

    margin-top: 24px;
    margin-bottom: 42px;
    text-align: left;
    font-family: ClashGrotesk-Regular;

    @include onTinyMobile {
      margin-top: 12px;
      margin-bottom: 36px;

      font-size: 14px;
      line-height: 22px;;
    }
  }
}

.wrapper_fixer {
  overflow: visible !important;
}
