@import "../../utils/utils";

.prefooter {
  background-image: url("../../assets/img/prefooter_illustration.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  overflow: hidden;

  height: 706px;

  width: 100vw;
  display: flex;
  justify-content: end;

  &_text-section {
    padding-right: 15px;
    max-width: 60%;

    display: flex;
    flex-direction: column;
    justify-content: start;

    @include onMobile {
      max-width: 100%;

      align-items: center;
      justify-content: center;

      padding-inline: 20px;

      padding-bottom: 400px;
    }
  }

  & h2 span {
    background: -webkit-linear-gradient(0deg, #9e63ff 0%, #ff2da0 100%);
    font-weight: 600;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &_text {
    margin-top: 24px;
    margin-bottom: 42px;

    text-align: left;

    @extend %regular-font-style;
  }
}
