@import "../../utils/utils";

.network {
  width: 100%;

  &_text-section {
    padding-block: 54px;
    width: 100%;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 50%,
        rgb(11, 9, 28) 100%
      ),
      url(".././../assets/img/network_background.png"),
      linear-gradient(to bottom, rgb(30, 7, 31), rgba(11, 9, 28));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    margin-top: 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &_label {
    margin-bottom: 32px;
    line-height: 2em;

    @include onTinyMobile {
      margin-bottom: 16px;
    }
  }

  &_headings {
    margin-bottom: 24px;
    text-align: center;

    @include onTinyMobile {
      margin-bottom: 12px;
    }
  }

  &_text {
    margin-bottom: 42px;
    padding-inline: 342px;
    text-align: center;
    line-height: 1.75em;

    @extend %regular-font-style;

    @include  onLaptop {
      padding-inline: 161px;
    }

    @include onTablet {
      padding-inline: 64px;
    }

    @include onMobile {
      padding-inline: 32px;
    }

    @include onTinyMobile {
      padding-inline: 12px;
      font-size: 14px;
      margin-bottom: 36px;
    }
  }

  &_box {
    display: inline;
  }

  &_carousel {
    display: flex;
    justify-content: center;
    overflow: hidden;
    gap: 12px;
    padding-block: 12px 32px;
    background-color: rgb(11, 9, 28);
    overflow-x: scroll;

    &-item {
      min-width: 208px;
      width: 208px;
      height: 88px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100px;
      border: 1px solid #1e1f35;
      overflow: hidden;

      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
      }
    }
  }
}
