@import "../../utils/utils";

.stats-container {
  display: flex;
  flex-wrap: wrap;
}

.stats {
  // display: flex;
  width: 25%;
  // gap: 14px;

  border: 2px solid #181a2c;
  // text-align: center;
  padding: 42px 0;

  &:not(:last-child) {
    border-right: none;
  }

  @include onLaptop {
    width: 50%;
    border-bottom: none;

    &:not(:last-child) {
      border-right: 2px solid #181a2c;
    }

    &:nth-child(odd) {
      border-right: none;
    }

    &:nth-last-child(2),
    &:nth-last-child(2) ~ & {
      border-bottom: 2px solid #181a2c;
    }
  }

  @include onTablet {
  }

  @include onMobile {
    padding: 12px 0;
  }

  &_position {
    margin: auto;
    display: flex;
    align-items: center;
    gap: 14px;
    width: fit-content;

    @include onLaptop {
      margin-left: 14px;
      align-items: start;
    }

    @include onMobile {
      flex-direction: column;
      align-items: start;
      gap: 0;
    }
  }

  &_text {
    text-align: left;
    h2 {
      @extend %desktop-stats-number;

      @include onMobile {
        font-size: 42px;
        line-height: 1.29em;
      }
    }

    p {
      font-size: 14px;
      font-weight: 600;
      line-height: 1.57em;
      letter-spacing: 0.03em;
    }
  }
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
  border-radius: 50%;

  svg {
    width: 50px;
    height: 50px;
  }

  @include onMobile {
    margin-bottom: 10px;

    width: 68px;
    height: 68px;

    svg {
      width: 36px;
      height: 36px;
    }
  }
}
