@import "./utils/utils";

body {
  background-color: black;
}

main {
  display: flex;
  flex-direction: column;
  gap: 200px;

  @include onLaptop {
    gap: 164px;
  }

  @include onTablet {
    gap: 112px;
  }

  @include onTinyMobile {
    gap: 82px;
  }
}

.wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
}
