.box {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.blue-box {
    position: absolute;
    overflow: hidden;
    width: 400px;
    height: 400px;
    background: radial-gradient(circle, rgba(0, 0, 255, 0.263) 0%, rgba(0, 0, 255, 0) 70%);
    border-radius: 50%;
    z-index: -2;
}

.blue-box1 {
    top: 10%; 
    left: 0;
}

.blue-box2 {
    top: 50%; 
    left: 50%;
    transform: translateX(-50%); 
}

.blue-box3 {
    top: 90%; 
    left: 10%;
}